<a href="#" id="repeat" data-toggle="tooltip" data-placement="bottom" title="Repeat"><span class="fa fa-repeat fa-lg fa-fw"></span></a>
<a href="#" id="random" data-toggle="tooltip" data-placement="bottom" title="Shuffle"><span class="fa fa-random fa-lg fa-fw"></span></a>

<a href="#" id="upload" data-toggle="tooltip" data-placement="bottom" title="Upload"><span class="fa fa-upload fa-lg fa-fw"></span></a>
