<a href="#" id="repeat"><span class="fa fa-repeat fa-lg fa-fw"></span></a>
<a href="#" id="random"><span class="fa fa-random fa-lg fa-fw"></span></a>

<a href="#" id="upload"><span class="fa fa-upload fa-lg fa-fw"></span></a>
