<div id="upload" class="box">
  <div class="box-header">
    <span class="fa fa-upload fa-fw fa-lg box-icon"></span>
    <h1>Upload</h1>
  </div>
  <div class="box-content">
    <h1>Add Music to Your Library</h1>
    <p>Use the button below to select an MP3 to add to your library.</p>
    <form id="upload-form">
      <input id="upload-input" type="file" name="mp3">
    </form>
    <div id="upload-buttons" class="text-right">
      <button id="select-files">Select Files</button>
      <button id="cancel-upload">Cancel</button>
    </div>
  </div>
</div>
