<ul>
  <li>
    <a href="#/home">
      <span class="fa fa-home fa-fw fa-lg nav-icon" data-toggle="tooltip" data-placement="right" title="Home"></span>
      <span class="nav-text">Home</span>
    </a>
  </li>
</ul>

<a href="#" id="nav-toggle">
  <hr class="center-block">
  <span class="fa fa-angle-double-left"></span>
</a>
