<ul>
  <li>
    <a href="#/library">
      <span class="fa fa-list-ul fa-fw fa-lg nav-icon" data-toggle="tooltip" data-placement="right" title="Library"></span>
      <span class="nav-text">Library</span>
    </a>
  </li>
</ul>

<a href="#" id="nav-toggle">
  <hr class="center-block">
  <span class="fa fa-angle-double-left"></span>
</a>
